@page {
    margin: 5mm; 
    margin-top: 15mm;
    margin-header: 0mm; /* <any of the usual CSS values for margins> */
    margin-footer: 0mm; /* <any of the usual CSS values for margins> */
}
@font-face {
font-family: "bookos";
src: url("../../fonts/BOOKOS.TTF");
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: "bookos";
    height: 100%;
    padding: 0;
    margin:0;
}
h5{font-size: 14px;font-family: "bookos";padding: 0px;margin:8px 0 4px;color: #2C96DD;margin-bottom: 10px;text-transform: uppercase;}
h4{padding: 0px;margin:8px 0 10px;font-size: 28px;text-align:left; color:#2C96DD;}
.cv-title, h5{width: 210px;border-bottom: 1px dotted;}
.col-sm-1, .col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,
.col-sm-6, .col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,
.col-sm-11,.col-sm-12{
    float:left;
    position: relative;
    min-height: 1px;
}
.col-sm-1 {width: 8%}
.col-sm-2 {width: 16%}
.col-sm-3 {width: 25%}
.col-sm-4 {width: 33%}
.col-sm-5 {width: 41%}
.col-sm-6 {width: 50%}
.col-sm-7 {width: 58%}
.col-sm-8 {width: 66%}
.col-sm-9 {width: 75%}
.col-sm-10 {width: 83%}
.col-sm-11 {width: 91%}
.col-sm-12 {width: 100%}
.previewer{position: relative;width: 150px;margin: 0 auto;}
.btn-wrap{display: none;position: absolute;top: 0;right: 5px;}
.previewer:hover .btn-wrap{display: block;}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}
.task-board {
	display: inline-block;
	border-radius: 3px;
	width: 800px;
	min-height: 900px;
}

.photo{
    width: 150px;
    height: 160px;
    border: 7px solid rgb(255, 255, 255);
}
.dg-photo{
   text-align: center;
   margin-top:20px;
   
}
.dg-contact{
    margin-top: 8px;
    color: #222;
    font-size: 14px;
    text-align: left;
}
.dg-name-contact{
    margin-top: 40px;
}
ul.sortable {
    padding-bottom: 10px;
}

ul.sortable li:last-child {
    margin-bottom: 0px;
}
.dg-skill-ul{
    list-style: initial;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0px;
}
.text-row {
    padding: 10px 30px;
    box-sizing: border-box;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
    white-space: normal;
    line-height: 20px;
    position: relative;
}
.ui-sortable-placeholder {
    visibility: inherit !important;
    background: transparent;
    border: #666 2px dashed;
}
.ui-sortable-handle:hover {
 
    -webkit-box-shadow: 0px 5px 4px 0px rgb(114, 108, 109);
    -moz-box-shadow: 0px 5px 4px 0px rgb(114, 108, 109);
    box-shadow: 0px 5px 4px 0px rgb(114, 108, 109);
    z-index:1000;
    border-right:1px solid transparent;
    border-bottom:1px solid transparent;
    cursor:pointer;
    background-color:#fff;
}
.ui-sortable-handle{position: relative;list-style: none;}
.dg-edit{
    position: absolute;
    top: 9px;
    right: 40px;
    display: none;
}
.dg-trash{
    position: absolute;
    top: 9px;
    right: 10px;
    display: none;
}
.ui-sortable-handle:hover>.dg-edit{display: block;}
.ui-sortable-handle:hover>.dg-trash{display: block;}
.dg-main-under{
    margin-top: 30px;
}
.dg-divided{
    width: 100%;
    height: 0px;
    border-bottom: 3px solid #555; 
    margin-bottom: 10px;
}

.dg-work-plus{
    position: absolute;
    top: 9px;
    right: 40px;
    display: none;
}
.dg-edu-plus{
    position: absolute;
    top: 9px;
    right: 40px;
    display: none;
}
.li-under li{list-style-type: disc;}
ul.ui-sortable li.ui-sortable-handle{list-style: none!important;}
.dg-wrap li.ui-sortable-handle{padding-left:0!important;}

.text-row:hover>.dg-work-plus{display: block;}
.text-row:hover>.dg-edu-plus{display: block;}
.dg-wrap ul{padding-left: 30px;}
.skillPart ul{padding-left: 30px;}
.dg-wrap ul.ui-sortable{padding-left:0!important;}