@page {
    margin: 0mm; 
    margin-top: 0mm;
    margin-header: 0mm; /* <any of the usual CSS values for margins> */
    margin-footer: 0mm; /* <any of the usual CSS values for margins> */
    background: linear-gradient(to right, #aaa 33%, #f6f6f6 33%);
}
@font-face {
font-family: "bookos";
src: url("../../fonts/BOOKOS.TTF");
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h5{font-size: 1.25rem;font-family: "bookos";padding: 0px;margin:8px 0 18px;}
h2{padding: 0px;margin:8px 0 10px;}
body {
    font-family: "bookos";
    height: 100%;
    background: linear-gradient(to right, #24435a 33%, #f6f6f6 33%);
    padding: 0;
    margin:0;
}
.img-upload{ width:70%;}

.btn-file {
    position: relative;
    overflow: hidden;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}
.previewer{position: relative;}
.btn-wrap{display: none;position: absolute;top: 0;right: 5px;}
.previewer:hover .btn-wrap{display: block;}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.col-sm-1, .col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,
.col-sm-6, .col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,
.col-sm-11,.col-sm-12{
    float:left;
    position: relative;
    min-height: 1px;
}
.col-sm-1 {
    width: 8%
}

.col-sm-2 {
    width: 16%
}

.col-sm-3 {
    width: 25%
}

.col-sm-4 {
    width: 33%
}

.col-sm-5 {
    width: 41%
}

.col-sm-6 {
    width: 50%
}

.col-sm-7 {
    width: 58%
}

.col-sm-8 {
    width: 66%
}

.col-sm-9 {
    width: 75%
}

.col-sm-10 {
    width: 83%
}

.col-sm-11 {
    width: 91%
}

.col-sm-12 {
    width: 100%
}
.task-board {
    display: inline-block;
    border-radius: 3px;
    width: 800px;
    min-height: 900px;
}

.card-header {
    width: 100%;
    padding: 10px 10px 0px 10px;
    box-sizing: border-box;
    border-radius: 3px;
    display: block;
    font-weight: bold;
}

.card-header-text {
    display: block;
}

ul.sortable {
    padding-bottom: 10px;
    text-align: left;
}

ul.sortable li:last-child {
    margin-bottom: 0px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0px;
}

.text-row {
    position: relative;
    padding: 10px 6px;
    margin: 0;
    box-sizing: border-box;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    white-space: normal;
    line-height: 20px;
    
}
p, span, a, div,h1, h2, h5{
    font-family: "bookos";
}
.ui-sortable-placeholder {
    visibility: inherit !important;
    background: transparent;
    border: #666 2px dashed;
}

.photo{
    width: 190px;
    height: 200px;
    border: 7px solid #fff;
}
.dg-photo{
   text-align: center;
   margin-top:20px;
   
}
.previewer{
    text-align: center;
}
.dg-name{
    color: #fff;
    text-align: center;
}
.dg-expr{
    color: #24435a;
    text-align: center;
}
.dg-left-under{
    margin-top: 20px;
    color:#fff;
}

.dg-contact{
    text-align: left;
    padding-left: 8px;
}
.li-under{
    margin-left: 10px;
}
.dg-right-under{
    margin-top: 10px;
}
.ui-sortable-handle:hover {
 
    -webkit-box-shadow: 0px 5px 4px 0px rgb(114, 108, 109);
    -moz-box-shadow: 0px 5px 4px 0px rgb(114, 108, 109);
    box-shadow: 0px 5px 4px 0px rgb(114, 108, 109);
    z-index:1000;
    border-right:1px solid transparent;
    border-bottom:1px solid transparent;
    cursor:pointer;
    background-color:#fff;
}
.dg-left-under .ui-sortable-handle:hover {
   
    -webkit-box-shadow:  0px 5px 4px 0px #000;
    -moz-box-shadow:  0px 5px 4px 0px #000;
    box-shadow: 0px 5px 4px 0px #000;
    z-index:1000;
    border-right:1px solid transparent;
    border-bottom:1px solid transparent;
    cursor:pointer;
    background-color:#aaa;
}
.dg-name{
    text-transform: capitalize;
}
.dg-left-side, .dg-left-side span, .dg-left-side p{color:#fff!important;}
.dg-right-under, .dg-left-under,.dg-photo{padding:0 15px;}

.ui-sortable-handle{position: relative;}
.dg-edit{
    position: absolute;
    top: 9px;
    right: 40px;
    display: none;
}
.dg-trash{
    position: absolute;
    top: 9px;
    right: 0;
    display: none;
}

.dg-work-plus{
    position: absolute;
    top: 9px;
    right: 40px;
    display: none;
}
.dg-edu-plus{
    position: absolute;
    top: 9px;
    right: 40px;
    display: none;
}
.text-row:hover .dg-edit{display: block;}
.text-row:hover .dg-trash{display: block;}
.text-row:hover .dg-work-plus{display: block;}
.text-row:hover .dg-edu-plus{display: block;}
.dg-left-under .text-row{border-bottom: 2px solid #aaa;}
.dg-left-under .text-row:last-child{border-bottom-width: 0;}
.dg-wrap li{list-style-type: disc!important;}
.paragraph{margin-bottom: 16px;}
.cv-italic{font-style: italic;}
.dg-title{
    width: 100%;
    text-align: center;
    background: #24435a;
    
}

.dg-shap{
    
    
    font-size:33px;
    font-weight: 100;
    color: #fff;
    border: 2px solid #fff;
    margin: auto;

}

.addablePart>li{
    border-bottom: 2px solid #555;
}
.addablePart>li:last-child{
    border-bottom: none;
}
.dg-left-under .sortable >li{
    border-bottom: 2px solid #fff;
}
.dg-top{
    margin-top: 30px;
    padding-bottom: 20px;
}